/* Structure for all Pages */

body {
	width: 100%;
	background-color: #fff;
	font-family: "PT Sans";
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

.topbar {
	width: 95%;
	margin: 5px auto 0;
	padding-bottom: 35px;
	height: auto;
}

.logo{
	float:right;
	left: 2px;
}

.menuicon {
	float: left;
	margin: 0 auto;
}

.icon{
	float: left;
}

.menuholder{
	float: left;
}

.clear {
	clear:both;
}

.headimage{
	width: 95%;
	height: 200px;
	border: 1px solid black;
	margin: 0 auto;
	clear:both;
}

article {
	width: 95%;
	margin: -1px auto 0;
	border: 1px solid black;
	top: -1px;
	text-align: center;
	min-height: 200px;
}


.footer{
	position: fixed;
	bottom:0px;
	width: 100%;
	background-color: gray;
	text-align: center;
	color: #ffffff;
}

/* Write Fact Page */

.facttext {
	width: 95%;
	height: 100px;
}

.button {
	width: 95%;
	height: 40px;
}


/*Center Placeholder*/

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}